@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

/* general styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #213438 !important;
    color: #fafafa !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }
    
    main{
        margin: 0 0 2rem 0;
    }
    
    .footer.container-fluid {
        background-color: #101010 !important;
    }
    
    .backg-number {
        color: #4d7b85;
    }
    
    .row.text-center {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    .container-fluid{
        background-color: #213438 !important;
    }
    
    .list-group-flush {
        border-radius: 0;
        justify-content: center;
    }
    
    .my-4 {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    
    .img-container img {
        width: 100%;
        height: auto;
    }
    
    .uppercase{
        text-transform: uppercase;
    }
    
    .hidden{
        display: none;
    }
    
    .fa-solid, .fas {
        font-weight: 900;
        margin: 0 10px 0 0;
    }
    
    .container-fluid {
        padding: 0 !important;
    }

    /* Header */
.header_bar {
    background-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem !important;
    z-index: 40;
    margin-bottom: -110px;
    position: relative;
}

.logo.uppercase .logo_upper {
    margin-bottom: 0;
    font-family: "Futura", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 28.3px;
    line-height: 28.3px;
}

.logo.uppercase .logo_lower {
    font-size: 31.8px;
    font-family: "Futura", sans-serif;
    font-weight: bold;
    line-height: 31.8px;
}

button.btn.btn-danger {
    border-radius: 8px;
}

button.btn.btn-link {
    margin-left: 18px;
    color: #fff;
}

/* Hero Image */

.hero-image.img-container img {
    min-width: 100%;
    min-height: 100%;
}

/* Footer */

li.list-group-item.rounded-circle.footer_social_link {
    margin: 0 10px;
    background-color: #000 !important;
    border: 1px solid #2180f4 !important;
}

.col-12.col-md-4.footer-section a {
    color: #4d7b85;
}

.col-12.col-md-4.footer-section {
    padding: 2rem 0;
}