@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

/* general styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #213438 !important;
    color: #fafafa !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }
    
    main{
        margin: 0 0 2rem 0;
    }
    
    .ftr.container-fluid {
        background-color: #101010 !important;
    }
    
    .backg-number {
        color: #4d7b85;
    }
    
    .row.text-center {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    .container-fluid{
        background-color: #213438 !important;
    }
    
    .list-group-flush {
        border-radius: 0;
        justify-content: center;
    }
    
    .my-4 {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    
    .img-container img {
        width: 100%;
        height: auto;
    }
    
    .uppercase{
        text-transform: uppercase;
    }
    
    .hidden{
        display: none;
    }
    
    .fa-solid, .fas {
        font-weight: 900;
        margin: 0 10px 0 0;
    }
    
    .container-fluid {
        padding: 0 !important;
    }

    /* Header */
.header_bar {
    background-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem !important;
    z-index: 40;
    margin-bottom: -110px;
    position: relative;
}

.logo.uppercase .logo_upper {
    margin-bottom: 0;
    font-family: "Futura", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 28.3px;
    line-height: 28.3px;
}

.logo.uppercase .logo_lower {
    font-size: 31.8px;
    font-family: "Futura", sans-serif;
    font-weight: bold;
    line-height: 31.8px;
}

button.btn.btn-danger {
    border-radius: 8px;
}

button.btn.btn-link {
    margin-left: 18px;
    color: #fff;
}

/* Hero Image */

.hero-image.img-container img {
    min-width: 100%;
    min-height: 100%;
}

/* Info Section */

/* Info Section - Text */
p.info_text_large {
    margin: 3% 12%;
    font-family: "Arimo", sans-serif;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}

p.info_text_small {
    margin: 5%;
    font-size: large;
    font-family: "Arimo", sans-serif;
}

.info_text i {
    color: #d1911c;
    font-size: x-large;
    margin-bottom: 10px;
}


/* Info Section - Images */

.info_images.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.col-12.col-md-4.mb-4 img {
    height: 100%;
    border-radius: 8px;
}

/* Footer */

li.list-group-item.rounded-circle.ftr_social_link {
    margin: 0 10px;
    background-color: #000 !important;
    border: 1px solid #2180f4 !important;
}

.col-12.col-md-4.ftr-section a {
    color: #4d7b85;
}

.col-12.col-md-4.ftr-section {
    padding: 2rem 0;
}

/* Categories Section */

/* Categories */

.catergories.container.my-4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 12%;
}

.catergories_text.col-12.col-md-8.mb-4 {
    background-color: #58646c;
    color: #fff;
    border-radius: 8px;

}

.catergories_text h4 {
    margin: 2rem 1rem;
}

.list-group {
    margin-bottom: 1rem;
    border-radius: 8px;
}

.list-group-item {
    background-color: #58646c !important;
    border: 1px solid rgba(0, 0, 0, .125);
    color: #fff;
}

/* Benefits Sections */

.card {
    margin-bottom: 2rem;
}

.card-body {
    background-color: #58646c;
    text-align: center;
}

p.card-text {
    text-align: left;
}

.card-body {
    background-color: #58646c;
    text-align: center;
    min-height: 415px;
}

.btn-info {
    bottom: 2%;
    position: absolute;
    left: 32%;
}

/* Testimonals Section */

.p-3.border.testimonals_card h3 {
    text-align: center;
}

.p-3.border.testimonals_card {
    border-radius: 8px;
    background-color: #58646c;
}

.img-thumbnail {
    width: 348px;
    height: auto;
    margin-bottom: .5rem;
}

.text-highlight{
    font-weight: 700;
    color: #d1911c;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .header_bar {
        margin-bottom: -165px;
    }

    p.info_text_small {
        margin: 5%;
    }

}